_build/
_coverage/
.merlin
*.rst~
*.install
bisect*.out
bisect*.coverage
fuzz-*-input
fuzz-*-output
fuzz-logs/
*.aux
*.synctex.gz
*.aes
manual.pdf
*.out
bench_*/
benchmark_*/
bench-logs/
__pycache__/
/statically-linked/
